body{
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

p{
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(66,66,66);
}

h1,h2,h3,h4{
  color: rgb(40,40,40);
  font-weight: 900;
  font-size: 3rem;
}

/* Promotional banner */
#banner{
  position:fixed;
  overflow: hidden;
  z-index: 2;

  width:100%;
  height:100px;

  background-color: rgb(40, 40, 60);
  box-shadow: 0 3px 3px rgba(20, 20, 70, 0.3);
}

.bannerContainer{
  width:100%;
  height:100px;
}

/* MixR Logo in Banner */
#banner img{
  position:relative;
  left: 30%;
  top: 20px;
  width: 150px;
}

/* Banner text */
.bannerOffer{
  position:relative;
  top:-20px;

  text-align: center;
  color:white;
}

#Offer{
  font-family: "Lato-Regular", sans-serif;
  text-decoration: underline;
}

/* Banner "Contact us" button */
#banner button{
  position: absolute;
  left:89%;
  top:30px;

  padding: 10px 35px;
  color: white;
  background-image: linear-gradient(0, #4CE5BC 0%, #12B79D 100% );
  border-style: none;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(20, 20, 70, 0.3);
}

#banner button:hover{
  background-image: none;
  background-color: white;
  color:#12B79D;
  box-shadow: 0 0 8px rgba(20, 20, 70, 0.3);
}

/* First section */
#title{
  position: relative;
  top:80px;
  margin-bottom: 10%;
  padding: 100px 0;
  background-image: linear-gradient(0, rgb(240, 240, 240) 0%, #fff 100% );
  background-size: 50%;
}

/* MixR Logo - underlined */
.titleLogo{
  position:relative;
  margin-bottom: 70px;
  text-align: center;
}

.titleLogo img{
  width: 120px;
}

.titleLogo hr{
  width: 40vw;
  border-width: 2px;
  border-radius: 50%;
  border-color: #12B79D;
}

/* h1 text */
.mainText{
  position: relative;
  top: 2vw;
  width: 100%;
  height:auto;
  text-align: center;
}

.mainText h1{
  font-size: 2.4vw;
}

/* Action items in mainText */
.titleHighlight{
  color: #12B79D;
}

/* title Contact us button */
.titleCTA{
  position: relative;
  margin-top: 15%;
  text-align: center;
}

.titleCTA button{
  padding: 1% 8%;
  transition: 1s;
  transition: all 1s cubic-bezier(.25,.8,.25,1);
  background-image: linear-gradient(90deg, #13b79d 0%, #18d3af 25%, #18d3af 75%, #13b79d 100% );
  color: white;
}

.titleCTA button:hover{
  background-color: white;
  color:#fff;
  box-shadow: 0 0 8px rgba(20, 20, 70, 0.3);
  padding: 10px 50px;
}

/* Image on the right of title section + background */
.titleImageContainer{
  position: relative;
  margin:-100px 0;

  width:100%;
  height:auto;

  background-image: url('../images/22.jpg');
  background-size: cover;
  text-align: center;
}

.titleImageContainer img{
  margin-top: 50px;
  width:100%;
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */


/* Features Section */
#features{
  padding: 100px 10% 0 10%;
}

#features h3{
  margin-bottom: 35px;
  padding-right: 1%;
}

/* Feature 1 -left */
.featuresContainer1{
  position:relative;
  margin-bottom: 40%;
}

.featuresText1 {
  position: relative;
  left: 3%;
  top: 50px;
  min-width: 400px;
}

.featuresContainer1 img{
  position: relative;
  float: left;
  width: 400px;
}

/* Feature 2 - right*/
.featuresContainer2{
  position: relative;
  margin-bottom: 40%;
}

.featuresText2 {
  position: relative;
  right: 3%;
  top: 50px;
  min-width: 400px;
}

.featuresContainer2 img{
  position: relative;
  float: right;
  width: 400px;
}

#Feature4{
  padding-top: 20%;
}

/* ------------------------------------------------------------------------------------------------------------------- */


/* Carousel */
#DashboardOverview{
  background-image: linear-gradient(90deg, #13b79d 0%, #18d3af 25%, #18d3af 75%, #13b79d 100% );
  margin-bottom: 10%;
  height:1400px;
  text-align: center;
  padding-bottom: 5%;
}

.carousel-indicators{
  position:relative;
  top:5%;
  z-index: 0;
}

.carousel-indicators li{
  text-indent: 0;
  height:65px;
  border-radius: 100%;
  margin-left: 50px;
  margin-right: 50px;
}

.carousel-indicators p{
  position:relative;
  top:100%;
  color: white;
}

/* Text Color in html (White) */
.carousel-title{
  position: relative;
  background-color: white;
  padding: 0 10% 5% 10%;
}

.Carousel-anchor-icons{
  position: absolute;
  margin-left: -30px;
  width: 65px;
  text-align: center;
z-index: 1;
}

.Carousel-anchor-icons img{
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
}

.carousel-inner{
  padding-bottom: 5%;
}

.slide{
  z-index: 1;
  overflow: visible;
  width: 100%;
  height:700px;;
  margin-left: auto;
  margin-right: auto;
}

.slideText{
  position: relative;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

.slide h4{
  font-size: 2.7rem;
  font-weight: 600;
}

.slide p{
  padding-left: 10%;
  padding-right: 10%;
}

.slideImage img{
  position:relative;
  text-align: center;
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px rgba(20, 20, 70, 0.3);
}

#carouselImage1 img{
  width: 700px;
}

#carouselImage2 img{
  width: 600px;
}

#carouselImage3 img{
  width: 500px;
}

/* .slide-icon{
  position: absolute;
  top: 100%;
  background-color: rgb(40,40,40);
  border-radius: 100%;
  width: 70px;
  height:70px;
  opacity: 0.7;
  padding: 20px;
}

#previous-icon{
  left: 10%;
}

#next-icon{
  right: 10%;
} */


/* ------------------------------------------------------------------------------------------------------------------- */


/* Bottom SpecialOffer - 3 month for free */
#specialoffer{
  position: relative;
  margin-top: -10%;
  text-align: center;
  padding: 5% 3%;
}

#specialoffer h2{
  color: #13b79d;
}

#specialoffer a{
  color: white;
  padding: 10px 35px;
  background-image: linear-gradient(0, #4CE5BC 0%, #12B79D 100% );
  border-style: none;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(20, 20, 70, 0.3);
  text-decoration: none;
}

#specialoffer a:hover{
  background-image: none;
  background-color: white;
  color:#12B79D;
  box-shadow: 0 0 8px rgba(20, 20, 70, 0.3);
}


/* Large Screen - Contain content */
@media screen and (min-width: 1600px) {

  #features{
    padding-left: 15%;
    padding-right: 15%;
  }

}


@media screen and (max-width:1300px) {

  .bannerOffer{
    top:-20px;
    left:10px;
  }

  #banner button{
    left:86%;
  }

  .titleImageContainer img {
    margin-bottom: 80px;
  }

  .carousel-title{
    padding: 0 5% 5% 5%;
  }

}


/* Title image switches from rightside view to underneath mainText */
@media screen and (max-width: 1100px) {

  #banner{
    height:120px;
  }

  #banner img{
    top: 25px;
    left: 10%;
    width: 120px;
  }

  .bannerOffer{
    top:35px;
    left:0;
    text-align: center;
  }

  #banner button{
    top: 25px;
    left:85%;
  }

  #title{
    overflow-y: hidden;
  }

  .titleLogo{
    margin-left: 0;
  }

  .titleLogo hr{
    margin-left: -20%;
    width: 70vw;
  }

  /* Insures that Title background covers full width */
  .row{
    margin-left: auto;
    margin-right: auto;
  }

  .mainText{
    z-index: 1;
    left:0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .titleHighlight{
    color: #13b79d;
  }

  .mainText h1{
    font-size: 2.5rem;
  }

  /* Title Imgae becomes maintext background */
  .titleImageContainer{
    position:absolute;
    z-index: 0;

    background-image: none;
    background-color: rgba(255, 0, 0, 0);
    opacity: 0.15;
  }

  .titleImageContainer img {
    margin-top:0;
    margin-left: -160px;

    width:300%;
  }

  .titleCTA{
    margin-top: 30%;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  #features{
    padding-left: 5%;
    padding-right: 5%;
  }

  .featuresContainer1{
    left: 0;
  }

  .featuresText1{
    top: 80px;
  }

  .featuresContainer2{
    left:0;
    padding-left: 0;
  }

  .featuresText2{
    top:80px;
  }

}


@media screen and (max-width:1000px){

  #banner button{
    left: 82%;
  }

  .bannerOffer{
    top:35px;
    font-size: 1.3rem;
  }

  .titleLogo{
  margin-left: 0;
  }

  .titleCTA{
    margin-left: 0;
  }

  #features{
    padding-left: 2%;
    padding-right: 0;

    margin-left: 3%;
    margin-right: 3%;
  }

  #features h3{
    font-size: 2.4rem;
  }

  .featuresContainer1{
    left: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 3%;
    margin-bottom: 30%;
  }

  .featuresText1 {
    width: auto;
  }

  .featuresContainer2{
    left: 0;
    margin-right: 2%;
    margin-bottom: 30%;

    padding-left: 0;
    padding-right: 0;
  }

  .featuresText2 {
    width:auto;
    padding-left: 3%;
  }


  /* .slide-icon{
    top: 55%;
    width: 50px;
    height: 50px;
    background-color: #12B79D;
    border-color: white;
    border-style: solid;
    border-width: 1px;
  }

  #previous-icon{
    left: 25%;
  }

  #next-icon{
    right: 25%;
  } */

}


/* Feature 2 image (Right Side) becomes left aligned */
@media screen and (max-width:812px){

  #banner button{
    left: 77%;
  }

  #features{
    margin-left: 0;
    margin-right: 0;
    padding-right: 3%;
  }

  #features h3{
    top: 40px;
    font-size: 2.6rem;
  }

  #featres p{
    padding-right: 0;
  }

  .featuresContainer1{
    padding-left: 0;
  }

  .featuresContainer1 img{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .featuresText1{
    overflow: hidden;
    width:auto;
  }

  .featuresContainer2{
    padding-left: 0;
  }

  .featuresContainer2 img{
    display: block;
    float:none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .featuresText2{
    overflow: visible;
    width: auto;
  }


  /* .slide-icon{
    top: 60%;
  }

  #previous-icon{
    left: 10%;
  }

  #next-icon{
    right: 10%;
  } */

}


/* Tablet view */
@media screen and (max-width:768px){

  #banner img{
    top: 20px;
    left: 10%;
    width: 100px;
  }

  #banner{
    height: 150px;
  }

  #banner button{
    top: 20px;
    left: 75%;
  }

  .bannerOffer{
    top:35px;
  }

  #title{
    overflow: hidden;
    padding-bottom: 200px;
  }

  .titleLogo hr{
    margin-left: auto;
  }

  .titleImageContainer img {
    margin-left: -20%;
    margin-top: 10%;
    width: 150%;
  }

  .col-md-6{
        max-width: 100%;
  }

  #features{
    padding: 100px 5%;
  }

  #features h3{
    top: 5px;
    font-size: 2.4rem;
  }

  #features p{
    padding-right: 0;
    padding-left: 0;
  }

  .featuresText1{
    left: 0;
    min-width: 300px;
    padding-left: 0;
  }

  .featuresContainer1 img{
    float:none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  .featuresContainer2 img{
    float:none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  .featuresText2{
    overflow:hidden;
    min-width: 500px;
    padding-left:0;
  }

  .slideText{
    margin-top: 0;
  }

  /* .slide-icon{
    top: 70%;
  } */

  .carouselIndicators{
    top: 10px;
  }

}


/* Tiny View*/
@media screen and (max-width:588px){

  #banner button{
    left: 69%;
  }

  #title{
    padding-bottom: 5%;
  }

  #features{
    padding-left: 0;
    padding-right: 0;
  }

  #features h3{
    margin-bottom: 0;
    padding:0;
  }

  #features p{
    margin-top: 5%;
    padding: 0 5% 0 5%;
    text-align: justify;
  }

  .featuresContainer1{
    text-align: center;
  }

  .featuresText1{
    left: 0;
    padding: 0;
  }

  .featuresContainer2{
    text-align: center;
  }

  .featuresContainer2 img{
    float:none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    text-align: center;
  }

  .featuresText2{
    left: 0;
    padding: 0;
  }

   .carousel-inner img{
     width: 500px;
   }

  /* .slide-icon{
    top: 74%;
  } */

}


/* mobile */
@media screen and (max-width:512px){

  #title{
    width:512px;
  }

  #features{
    width:512px;
    padding-left: 1%;
    padding-right: 1%;
  }

  #DashboardOverview{
    width:512px;
    padding-left: 1%;
    padding-right: 1%;
    height: 1500px;
  }

}
